<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CustomerService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="customerDbEntities" connectionString="metadata=res://*/Model.CustomerDB.csdl|res://*/Model.CustomerDB.ssdl|res://*/Model.CustomerDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JHIMUM4\SQLEXPRESS2014;initial catalog=customerDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CustomerService.Properties.Settings.customerDbConnectionString"
      connectionString="Data Source=DESKTOP-JHIMUM4\SQLEXPRESS2014;Initial Catalog=customerDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="localhost_customerDb_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-JHIMUM4\SQLEXPRESS2014;integrated security=SSPI;initial catalog=customerDb" />
  </connectionStrings>
  <userSettings>
    <CustomerService.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
    </CustomerService.Properties.Settings>
  </userSettings>
</configuration>